html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(50, 167, 145);
}

.header {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  color: white;
  align-items: center;
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.trybewarts-header-logo {
  height: 60px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px; /* Isso era pré requisito */ 
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family , #contents-to-learn , #textarea-content {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: vertical;
  max-height: 300px;
}

/* #main_conteiner {
  flex-grow: 1;
}

#casas_brasao {
  flex-grow: 1;
} */

@media screen and (max-width: 414px) {
  body {
    background-color: green;
  }

  /* Formatação do menu */

  .header {
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
    gap: 20px;
  }
  
  .trybewarts-login {
    flex-wrap: wrap;
    gap: 20px;
  }

  #input-email-login, #input-password {
    height: 40px;
    border-radius: 6px;
    border: 0;
    flex-grow: 1;
}

  #button-login {
    width: 100%;
  }

  /* Começo da formatação do formulário */
  main {
    flex-direction: column;
  }
  
  #main_conteiner {
    order: 2;
    width: 90%;
    margin: auto;
    background-color: violet;
    overflow: hidden;
  }

  #casas_brasao {
    width: 100%;
    height: 25vh;
    order: 1;
  }
  
  #trybewarts-forms-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}